{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block headblock %}
    {% endblock %}
</head>

<body>

  <nav class="navbar">
    <div class="navdiv">

    <div class="nav-left"></div>
      <a href="{% url 'forum_app:index' %}" class="home-icon">
        <i class="fa-solid fa-house"></i>
      </a>

    <div class="nav-search">
      <input type="text" placeholder="Explore the forums">
      <button class="search-btn">Search</button>
    </div>
      <ul class="nav-right">
        <li><a class="login-button" href="{% url 'forum_app:login' %}">Log In</a></li>
        <li><a class="signup-button" href="{% url 'forum_app:register' %}">Sign Up</a></li>
      </ul>
    </div>
  </nav>

    <!-- Main page content -->
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    
</body>

</html>

