{% extends "forum_app/base.html" %}
{% load static %}

{% block headblock %}
    <title>Forums</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}


<div class="central-content-box">
    <div class="central-content">
        {% block central-content %}
            <h1 class="example">Welcome to Team 8E Forums!</h1>
            <p>Please select a category from the sidebar to start exploring.</p>
        {% endblock %}
    </div>
</div>
{% endblock %}