{% extends "forum_app/base.html" %}
{% load static %}

{% block headblock %}
    <title>Forums</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<nav class="sidebar">
    <header class="sidebar-header"><h2>Forums</h2></header>
    <div class="sidebar-scrollbox">
        <div class="sidebar-scrollbox-inner">
            <ul>
            {% if categories %}
                {% for category in categories %}
                    <li><h2><a href="{% url 'forum_app:show_category' category.slug %}">{{ category.name }}</a></h2></li>
                {% endfor %}
            {% else %}
                <li><h2>No categories yet!</h2></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="central-content-box">
    <div class="central-content">
        {% block central-content %}
            <h1 class="example">Welcome to Team 8E Forums!</h1>
            <p>Please select a category from the sidebar to start exploring.</p>
        {% endblock %}
    </div>
</div>
{% endblock %}