{% extends "forum_app/base.html" %}
{% load static %}

{% block headblock %}
    <title>Forums - Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="all"> 
        <div class="welcome-msg"><h1>Welcome Back</h1></div>   

        <div class="form">
        <form method="post" action="{% url 'forum_app:login' %}">
            {% csrf_token %}
            <div class="details">
                Email: <div class="input"><input class="email" type="text" name="username" value="" size="50" placeholder="Enter email" /></div><br />
            </div>
            <div class="details">
                Password: <div class="input"><input class ="password" type="password" name="password" value="" size="50" placeholder="Enter password"/></div><br />
            </div>
            <div class="details">
                <label><input type="checkbox">Remember Me?</label>
                <input class="login-btn" type="submit" value="Log In" />
            </div>
            <div class="details">No Account? <a class="signup-btn" href="{% url 'forum_app:register' %}">Sign Up</a></div>
        </form>
        </div>
        
        {% if error_msg %}
            <p class="error">{{ error_msg }}</p>
        {% endif %}
    </div>
{% endblock %}
