{% extends "forum_app/index.html" %}
{% load static %}
{% block headblock %}
<title>Forums</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock %}

{% block central-content %}
<p class="posthtml-gap"></p>
<div class="post-item">
    <div class="post-top-info">
        <a class="post-topic" href="{% url 'forum_app:show_category' post.category.slug %}">Topic: {{ post.category }}</a>
        <p class="poster">Posted by {{ post.creator.username }} </p>
        <p class="post-views">Views: {{ post.views }} </p>
        <p class="post-date">{{ post.created_at }}</p>
    </div>
    <div class="post-second-row">
        <a class="post-title" href="{% url 'forum_app:show_post' post.id %}">{{ post.title }}</a>
        <p class="post-likes">Likes: {{ post.likes }} </p>
    </div>
    {% if post.image %}
    <div class="post-image-container">
        <img class="post-image" src="{{ post.image.url }}" alt="{{ post.title }}" />
    </div>
    {% endif %}
    <p class="post-content">{{ post.content }}</p>
</div>
{% endblock %}
