{% extends "forum_app/base.html" %}
{% load static %}

{% block headblock %}
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">

    <div class="profile-header">
        <div>
            <h2>{{ profile_user.username }}</h2>
            <p>User since {{ profile_user.date_joined|date:"d/m/Y" }}</p>
        </div>

        {% if request.user == profile_user %}
            <a href="{% url 'forum_app:edit_profile' profile_user.username %}" class="edit-profile-btn">
                Edit Profile
            </a>
        {% endif %}
    </div>

    <div class="middle-box">
        <h3 class="profile-posts-title">Posts by {{ profile_user.username }}</h3>

        {% for post in posts %}
            <div class="post-item">
                        <div class="post-top-info">
                            <a class="post-topic" href="{% url 'forum_app:show_category' post.category.slug %}">Topic: {{ post.category }}</a>
                            <a class="poster" href="{% url 'forum_app:profile' post.creator.username %}">Posted by {{ post.creator.username }} </a>
                            <p class="post-views">Views: {{ post.views }} </p>
                            <p class="post-date">{{ post.created_at }}</p>
                        </div>
                        <div class="post-second-row">
                            <a class="post-title" href="{% url 'forum_app:show_post' post.id %}">{{ post.title }}</a>
                            <p class="post-likes">Likes: {{ post.likes }} </p>
                        </div>


                        {% if post.image %}
                            <div class="post-image-container">
                                <img class="post-image" src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image" />
                            </div>
                        {% endif %}
                        <p class="post-content">{{ post.content }}</p>
                    </div>
        {% empty %}
            <p class="profile-no-posts">No posts yet.</p>
        {% endfor %}
    </div>

</div>
{% endblock %}